<div class="center jumbotron">
  <h1>Welcome to some Kickass Recipes</h1>
  <h2>I'm practicing some basic Rails training, 
  and building a goofy recipes app.
  </h2>
  <%= link_to "Get Some Flavor!", "", class: "btn btn-lg btn-primary" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a voyeur and sign up later</h2>
    <p><%= link_to "Browse Recipes","", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a voyeur and sign up later</h2>
    <p><%= link_to "Browse Recipes","", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as a voyeur and sign up later</h2>
    <p><%= link_to "Browse Recipes","", class: "btn btn-warning btn-small" %></p>
  </div>
</div>